<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         mapTestClassNameToCoveredClassName="true"
         bootstrap="vendor/autoload.php"
         strict="true"
         verbose="true"
         colors="true">
    <testsuites>
        <testsuite name="filecheck">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
	<php>
		<!-- Constants -->
		<const name="PHPUNIT_TESTSUITE" value="true" />
		<const name="TRAVIS_TESTSUITE" value="true" />
   </php>
</phpunit>
<!-- https://github.com/YOURLS/YOURLS-unit-tests/blob/master/phpunit-travis.xml.dist -->
